/http2/
/fuzz/go.sum
/.idea/inspectionProfiles/Project_Default.xml
/.idea/copilot.data.migration.*.xml
/testdata/fuzz/FuzzSignAndVerifyHMAC/
/testdata/fuzz/FuzzSignAndVerifyJWS/
/testdata/fuzz/FuzzJWSVerifyRequest/
/testdata/fuzz/FuzzSignAndVerifyMLDSA/
/testdata/fuzz/FuzzInferJWSVerifier/
/testdata/fuzz/FuzzNewJWSConstructors/

.vscode/
coverage.out
.qodo
.DS_Store
